.addBtn {
  margin-left: 0;
  margin-top: 15px;
  margin-bottom: 0;
}

.loginDiv {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.login-form {
  display: table-cell;
  vertical-align: middle;
}

.header {
  position: fixed;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  display: inline-block;
}

p.footer-content {
  margin-left: 0;
  margin-bottom: 0;
}

img.footer-content {
  margin-bottom: 15px;
}

.top {
  padding-left: 0;
  padding-right: 0;
  cursor: default;
}