.addBtn {
    margin-left: 0;
}

.loginDiv {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.login-form {
    display: table-cell;
    vertical-align: middle;
}

.header {
    position: fixed;
    width: 100%;
}