body {
    margin: 0;
    min-width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #17171a;
    color: white;
    height: 100%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 75px 0 74px 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #222531;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #171924;
}

ul li:hover {
    background: #323546;
}

ul li.checked {
    background: #1e2339;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.top {
    margin-left: 0;
    display: inline;
    text-align: center;
    vertical-align: middle;
    font-size: 38px;
    padding-right: 32px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    transition: 0.2s;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.header {
    border-bottom: 1px solid #2D2E32;
    background-color: #1b1c20;
    padding: 15px 15px;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    border: none;
    width: 81%;
    padding: 10px;
    float: left;
    font-size: 16px;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px 0 0 5px;
    background-color: #323546;
    color: white;
    margin-left: 2%;
    box-shadow: 3px 3px 3px #131314;
}

.addBtn {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px;
    width: 15%;
    height: 50px;
    background: #222531;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 2%;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px #131314;
}

.addBtn:hover {
    background-color: #bbb;
}

.outerConnection {
    position: fixed;
    width:100%;
    bottom: 10%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #1a1a1d;
    border-top: 1px solid #2D2E32;
}

.footer-stuff {
    text-align: center;
    color: #a0a0a0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    margin-top: 5px;
    margin-bottom: 5px;
}

p.footer-content {
    margin-left: 25px;
}

button.footer-content {
    margin: 0 0 0 0;
    padding: 5px;
    float: right;
}

img.footer-content {
    width: 30px;
}

.logOut {
    padding: 10px;
    border: 1px solid #ea3943;
    border-radius: 5px;
    background-color: rgba(234, 57, 67, 0.50);
    color: #FDBCC0;
    font-size: 150%;
    margin-left: auto;
    height: 100%;
    cursor: pointer;
    width: 44px;
}

.amount {
    width: 76px;
    background-color: #2a3e8d;
    border-radius: 8px;
    float: left;
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
    border: 1px solid #3861fb;
    padding: 5px;
}